@model ProjectOne.Models.Mission

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/MissionStyles.css" rel="stylesheet" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MissionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresidentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MissionAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Climate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DominantReligion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.MissionName)
        </td>
        <td>
            @Html.DisplayFor(model => model.PresidentName)
        </td>
        <td>
            @Html.DisplayFor(model => model.MissionAddress)
        </td>
        <td>
            @Html.DisplayFor(model => model.Language)
        </td>
        <td>
            @Html.DisplayFor(model => model.Climate)
        </td>
        <td>
            @Html.DisplayFor(model => model.DominantReligion)
        </td>
        <td>
            <img src="@Url.Content(Model.Picture)" id="MissionPic" />
        </td>

</table>

@Html.ActionLink("Mission FAQ's", "FAQ", "Mission")