@model IEnumerable<ProjectOne.Models.Mission>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PresidentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MissionAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Climate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DominantReligion)
        </th>
        <th></th>
    </tr>


</table>
